<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
    <div class="col-12 nav-g ">
        <li class="special1"> (English / أهلا بكم في موقع تبديل الاحرف (عربي</li>
    </div>
  <!-- <nav class="navbar navbar-expand-sm nav-g navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" >
    <li class="nav-item active">
        <a href="https://www.facebook.com/Abdelhameed1999" target="blank" class="fab fa-facebook-f  facebookProperity" title="Our Facebook_Page" style="color:rgb(21 21 255);"></a> 
    </li>
    <li class="nav-item active">
        <a href="" class="fa fa-instagram  iconsProperites" title="The Instagram_Profile of Site_Owner"></a>
    </li>
    <li class="nav-item active">
        <a href="medoabdelhameed3@gmail.com" target="blank"> <span class="glyphicon glyphicon-envelope  gmailstyle" title="Send me on Gmail" style="color: whitesmoke;"></span> </a>
    </li>
    <li class="nav-item ">
        <a href="" class="fa fa-youtube-play" title="youtube video" style="color:red"></a>
    </li>
    <li></li>
    </ul>
    </div>
</nav> -->
</body>
</html>
