<div class="footer col-12">

    <!-- <a href="" class="fa fa-facebook-official  iconsProperites" title="Our Facebook_Page" style="color:rgb(247, 247, 255);"></a> -->
    <!-- <a href="" class="fa fa-instagram  iconsProperites" title="The Instagram_Profile of Site_Owner" style="color:rgb(185, 17, 110);" ></a> -->
    <!-- <a href="" class="fa fa-twitter-square fa-2x  iconsProperites" title="The Twitter Profile of Site_Owner" style="color:rgb(214, 195, 195);"></a> -->
    <!-- <a href="" class="fa fa-comment-o  iconsProperites" title="Give Us your comment" style="color:rgb(214, 195, 195);"></a> -->
    <!-- <a href=""> <img src="../assets/Error_code.png" title="Report on any problems" class="errorcode" alt="Report on any problems"></a> -->
    <!-- //////////////////////////////////////////////// -->      

    <span class="btntextstyle text-center" style=" margin-left: 15%;"> If this site is useful, please click on the love button once .</span> 
    <span>  <button type="button" id="btn" class="btn btn-light" (click)="funCount()" style="margin-bottom: 18px;">
      <i class="fa fa-heart love_icon"></i> <span id="SpanCount" class="badge badge-dark" style="font-size: 15px;"></span>
    </button> </span>
    <div class="text-center col-12" style="padding-bottom: 20px;"> 
      <a href=""  class="footerlink"> contact_us</a>
      <a href="" class="footerlink"> sent_feedback</a> <br>
      <a href="" class="footerlink" >more_informations</a> 
    </div>
   
</div>

